<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.authserver.life.mapper.OauthClientMapper">

    <resultMap id="oauthclientMap" type="com.authserver.life.entity.OauthClient">
        <id column="oauth_client_id" property="oauthClientId"/>
        <result column="client_id" property="clientId"/>
        <result column="client_secret" property="clientSecret"/>
        <result column="grant_types" property="grantTypes"/>
        <result column="scopes" property="scopes"/>
        <result column="redirect_uri" property="redirectUri"/>
        <result column="access_token_timeout" property="accessTokenTimeout"/>
        <result column="refresh_token_timeout" property="refreshTokenTimeout"/>
        <result column="additional_information" property="additionalInformation"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="created_by_user" property="createdByUser"/>
        <result column="created_by_emp" property="createdByEmp"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_by_user" property="updatedByUser"/>
        <result column="updated_by_emp" property="updatedByEmp"/>
        <result column="updated_time" property="updatedTime"/>
    </resultMap>


    <sql id="lifetime_oauth_client_column">
        ${prefix}oauth_client_id,
        ${prefix}client_id,
        ${prefix}client_secret,
        ${prefix}grant_types,
        ${prefix}scopes,
        ${prefix}redirect_uri,
        ${prefix}access_token_timeout,
        ${prefix}refresh_token_timeout,
        ${prefix}additional_information,
        ${prefix}tenant_id,
        ${prefix}created_by_user,
        ${prefix}created_by_emp,
        ${prefix}created_time,
        ${prefix}updated_by_user,
        ${prefix}updated_by_emp,
        ${prefix}updated_time
    </sql>

    <select id="page" resultType="com.authserver.life.entity.OauthClient">
        SELECT
        <include refid="lifetime_oauth_client_column">
            <property name="prefix" value="t1."/>
        </include>
        FROM lifetime_oauth_client t1
    </select>

</mapper>
