<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.authorization.life.system.infra.mapper.EmpMapper">

    <sql id="lemd_emp_column">
        ${prefix}emp_id,
        ${prefix}emp_num,
        ${prefix}emp_name,
        ${prefix}locale,
        ${prefix}tel_area_code,
        ${prefix}phone,
        ${prefix}email,
        ${prefix}gender,
        ${prefix}birthday,
        ${prefix}office_status,
        ${prefix}enabled_flag,
        ${prefix}tenant_id,
        ${prefix}version_num,
        ${prefix}created_by_user,
        ${prefix}created_by_emp,
        ${prefix}created_time,
        ${prefix}updated_by_user,
        ${prefix}updated_by_emp,
        ${prefix}updated_time
    </sql>

    <select id="page" resultType="com.authorization.life.system.infra.entity.Emp">
        select
        <include refid="lemd_emp_column">
            <property name="prefix" value="t1."/>
        </include>
        from lemd_emp t1
    </select>

</mapper>
