<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.authorization.life.system.infra.mapper.LsysLovValueMapper">

    <sql id="lsys_lov_value_column">
        ${prefix}lov_value_id,
        ${prefix}lov_id,
        ${prefix}lov_code,
        ${prefix}value_code,
        ${prefix}value_content,
        ${prefix}description,
        ${prefix}tenant_id,
        ${prefix}value_order,
        ${prefix}enabled_flag,
        ${prefix}version_num,
        ${prefix}created_by_user,
        ${prefix}created_by_emp,
        ${prefix}created_time,
        ${prefix}updated_by_user,
        ${prefix}updated_by_emp,
        ${prefix}updated_time
    </sql>

    <select id="page" resultType="com.authorization.life.system.infra.entity.LsysLovValue">
        select
        <include refid="lsys_lov_value_column">
            <property name="prefix" value="t1."/>
        </include>
        from lsys_lov_value t1
    </select>

</mapper>
