@font-face {
  font-family: "iconfont"; /* Project id 4882876 */
  src: url('//at.alicdn.com/t/c/font_4882876_rosaw7b4ypc.woff2?t=1743993052724') format('woff2'),
       url('//at.alicdn.com/t/c/font_4882876_rosaw7b4ypc.woff?t=1743993052724') format('woff'),
       url('//at.alicdn.com/t/c/font_4882876_rosaw7b4ypc.ttf?t=1743993052724') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before {
  content: "\e607";
}

.icon-qq:before {
  content: "\e600";
}

