<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.authorization.life.auth.infra.mapper.LsysMenuMapper">

    <sql id="lsys_menu_column">
        ${prefix}menu_id,
        ${prefix}parent_id,
        ${prefix}menu_type,
        ${prefix}level,
        ${prefix}icon,
        ${prefix}menu_name,
        ${prefix}name,
        ${prefix}path,
        ${prefix}component,
        ${prefix}describe,
        ${prefix}is_hide,
        ${prefix}is_link,
        ${prefix}is_keep_alive,
        ${prefix}is_spread,
        ${prefix}is_full,
        ${prefix}is_affix,
        ${prefix}auth,
        ${prefix}enabled_flag,
        ${prefix}sorted,
        ${prefix}tenant_id,
        ${prefix}version_num,
        ${prefix}created_by_user,
        ${prefix}created_by_emp,
        ${prefix}created_time,
        ${prefix}updated_by_user,
        ${prefix}updated_by_emp,
        ${prefix}updated_time
    </sql>

    <select id="page" resultType="com.authorization.life.auth.infra.entity.LsysMenu">
        select
        <include refid="lsys_menu_column">
            <property name="prefix" value="t1."/>
        </include>
        from lsys_menu t1
    </select>

</mapper>
