<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.authorization.life.auth.infra.mapper.OauthClientMapper">

    <sql id="lifetime_oauth_client_column">
        ${prefix}oauth_client_id,
        ${prefix}domain_name,
        ${prefix}client_id,
        ${prefix}client_secret,
        ${prefix}client_secret_bak,
        ${prefix}grant_types,
        ${prefix}scopes,
        ${prefix}redirect_uri,
        ${prefix}access_token_timeout,
        ${prefix}refresh_token_timeout,
        ${prefix}additional_information,
        ${prefix}tenant_id,
        ${prefix}created_by_user,
        ${prefix}created_by_emp,
        ${prefix}created_time,
        ${prefix}updated_by_user,
        ${prefix}updated_by_emp,
        ${prefix}updated_time
    </sql>

    <select id="page" resultType="com.authorization.life.auth.infra.entity.OauthClient">
        SELECT
        <include refid="lifetime_oauth_client_column">
            <property name="prefix" value="t1."/>
        </include>
        FROM liam_oauth_client t1
        <where>
            <if test="searchKey != null and searchKey != ''">
                <bind name="searchKey" value="'%'+searchKey+'%'"/>
                and (
                t1.domain_name like #{searchKey} or t1.client_id like #{searchKey}
                or t1.redirect_uri like #{searchKey} or t1.client_secret_bak like #{searchKey}
                or t1.grant_types like #{searchKey} or t1.scopes like #{searchKey}
                )
            </if>
        </where>
    </select>

</mapper>
